/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/sb-admin.css
resources/views/page_9.blade.php
public/css/sb-admin.css
public/css/sb-admin.css
public/imgs/anticipos-icon.svg
public/imgs/BG-PAGE-7.png
public/imgs/cartera-empleados-icon.svg
public/imgs/cartera-icon.svg
public/imgs/dividendos-icon.svg
public/imgs/icon-cuentas-cobrar.svg
public/imgs/impuestos-icon.svg
public/imgs/intercompany-cartera-icon.svg
public/imgs/proviciones-icon.svg
resources/views/page_6.blade.php
resources/views/page_7.blade.php
public/css/sb-admin.css
resources/views/page_6.blade.php
resources/views/page_7.blade.php
public/css/sb-admin.css
