/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/sb-admin.css
resources/views/page_9.blade.php
public/css/sb-admin.css
public/css/sb-admin.css
public/imgs/anticipos-icon.svg
public/imgs/BG-PAGE-7.png
public/imgs/cartera-empleados-icon.svg
public/imgs/cartera-icon.svg
public/imgs/dividendos-icon.svg
public/imgs/icon-cuentas-cobrar.svg
public/imgs/impuestos-icon.svg
public/imgs/intercompany-cartera-icon.svg
public/imgs/proviciones-icon.svg
resources/views/page_6.blade.php
resources/views/page_7.blade.php
public/css/sb-admin.css
resources/views/page_6.blade.php
resources/views/page_7.blade.php
public/css/sb-admin.css
public/css/sb-admin.css
public/css/sb-admin.css
public/imgs/bg-22-page.png
public/imgs/desperdicios.png
public/imgs/icon-automat.svg
public/imgs/icon-computers.svg
public/imgs/icon-ordenamiento.svg
public/imgs/icon-transportes.svg
public/imgs/icon-ventas.svg
public/imgs/materia-prima.png
public/imgs/productos-en-proceso.png
public/imgs/productos-terminado.png
public/imgs/skus.svg
resources/views/page_13.blade.php
resources/views/page_17.blade.php
resources/views/page_18.blade.php
resources/views/page_19.blade.php
resources/views/page_20.blade.php
resources/views/page_21.blade.php
resources/views/page_22.blade.php
resources/views/page_9.blade.php
public/css/sb-admin.css
resources/views/page_13.blade.php
resources/views/page_9.blade.php
public/css/sb-admin.css
public/css/sb-admin.css
public/imgs/bg-23-main.png
public/imgs/cuentas-por-pagar.svg
public/imgs/icon-balance-23.svg
public/imgs/icon-dividendos-23.svg
public/imgs/icon-gastos-23.svg
public/imgs/icon-orden-main.svg
public/imgs/icon-orden.svg
public/imgs/icon-origen.svg
public/imgs/icon-otrasCuentas-23.svg
public/imgs/icon-procesamiento.svg
public/imgs/icon-procesos.svg
public/imgs/icon-proveedor-admin.svg
public/imgs/icon-proveedor.svg
public/imgs/icon-proveedores-23.svg
public/imgs/icon-recepcion.svg
public/imgs/icon-tax-23.svg
resources/views/page_23.blade.php
resources/views/page_24.blade.php
public/css/sb-admin.css
